Flask
    # api server
peewee>=3.8.0
    # db
sqlitedict
    # cache
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
PlexAPI
    # api client
tabulate[widechars]
psutil
requests
    # others
