Flask
    # api server
peewee
    # db
sqlitedict
    # cache
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
    # api client
chardet
    # smi2srt
wcwidth
psutil
requests
    # others
