name: buildx

on:
  push:
    branches:
      - "master"
    tags:
      - "*"
  pull_request:
  workflow_dispatch:

env:
  IMAGE_NAME: ghcr.io/by275/autoscan

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Buildx and Push (PR)
        if: github.event_name == 'pull_request'
        uses: docker/build-push-action@v6
        with:
          context: docker/.
          file: docker/Dockerfile
          tags: |
            ${{ env.IMAGE_NAME }}:pr
            ${{ env.IMAGE_NAME }}:pr-${{ github.event.pull_request.number }}
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          build-args: |
            AUTOSCAN_VERSION=${{ github.ref }}
          push: true
      - name: Get Variables (Tag)
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        run: |
          VER_FULL="${GITHUB_REF##*/}"
          echo "VER_FULL=$VER_FULL" >> $GITHUB_ENV
          VER_MAJOR=$(echo $VER_FULL | cut -d. -f-1)
          echo "VER_MAJOR=$VER_MAJOR" >> $GITHUB_ENV
          VER_MINOR=$(echo $VER_FULL | cut -d. -f-2)
          echo "VER_MINOR=$VER_MINOR" >> $GITHUB_ENV
      - name: Buildx and Push (Tag)
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        uses: docker/build-push-action@v6
        with:
          context: docker/.
          file: docker/Dockerfile
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.VER_FULL }}
            ${{ env.IMAGE_NAME }}:${{ env.VER_MAJOR }}
            ${{ env.IMAGE_NAME }}:${{ env.VER_MINOR }}
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          build-args: |
            AUTOSCAN_VERSION=${{ env.VER_FULL }}
          push: true
      - name: Buildx and Push (latest)
        if: github.event_name == 'push' && github.ref_name == 'master'
        uses: docker/build-push-action@v6
        with:
          context: docker/.
          file: docker/Dockerfile
          tags: |
            ${{ env.IMAGE_NAME }}:latest
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          push: true
